In [3]:
#add magic command
%matplotlib inline 

# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import statistics

In [4]:
# File to Load 
census_data_to_load = os.path.join('census_data.csv')

# Read the  Data and store into a Pandas DataFrame
census_data_df = pd.read_csv(census_data_to_load)
census_data_df

,Unnamed: 0,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
# Determine data types 
census_data_df.dtypes

Unnamed: 0         int64
age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [6]:
# Determine workclass level

workclass_types = census_data_df.set_index(["workclass"])["income"]
workclass_types

workclass
 State-gov            <=50K
 Self-emp-not-inc     <=50K
 Private              <=50K
 Private              <=50K
 Private              <=50K
                      ...
 Private              <=50K
 Private               >50K
 Private              <=50K
 Private              <=50K
 Self-emp-inc          >50K
Name: income, Length: 32561, dtype: object

In [14]:
# Calculate averages for the desired columns.

State-gov_salary = census_data_df.groupby(["state-gov"]).mean()["Average income"]
self-emp-not-inc_salary = census_data_df.groupby(["self-emp-not-inc"]).mean()["Average income"]

SyntaxError: invalid syntax (1613507241.py, line 4)

In [7]:
# group by workclass category
workclass_count = census_data_df.groupby('workclass')['education'].count()
print(workclass_count)

workclass
 ?                    1836
 Federal-gov           960
 Local-gov            2093
 Never-worked            7
 Private             22696
 Self-emp-inc         1116
 Self-emp-not-inc     2541
 State-gov            1298
 Without-pay            14
Name: education, dtype: int64

In [4]:
# Determine education level

education_level_types = census_data_df.set_index(["education"])["income"]
education_level_types

education
 Bachelors      <=50K
 Bachelors      <=50K
 HS-grad        <=50K
 11th           <=50K
 Bachelors      <=50K
                ...
 Assoc-acdm     <=50K
 HS-grad         >50K
 HS-grad        <=50K
 HS-grad        <=50K
 HS-grad         >50K
Name: income, Length: 32561, dtype: object

In [14]:
# group by education category
Education_level_count = census_data_df.groupby('education')['education'].count()
print(Education_level_count)

education
 10th              933
 11th             1175
 12th              433
 1st-4th           168
 5th-6th           333
 7th-8th           646
 9th               514
 Assoc-acdm       1067
 Assoc-voc        1382
 Bachelors        5355
 Doctorate         413
 HS-grad         10501
 Masters          1723
 Preschool          51
 Prof-school       576
 Some-college     7291
Name: education, dtype: int64